<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
      <div class="col-sm">
          <h1>Proof-of-Concept project: {{ title }}!</h1>
      </div>
  </div>
  <div class="row h-50">
    <div class="col-lg">
        <app-video></app-video>
    </div>
    <div class="col-lg">
      One of three columns
    </div>
    <div class="col-lg">
      One of three columns
    </div>
  </div>
  <div class="row">
      <div class="col-sm"><button class="btn btn-primary">Test Button</button></div>
  </div>
</div>
